In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series

In [2]:
s = Series(np.random.rand(10))

In [3]:
s

0    0.895995
1    0.422362
2    0.525176
3    0.002981
4    0.079975
5    0.288771
6    0.280811
7    0.431455
8    0.848355
9    0.255357
dtype: float64

In [5]:
s.sort_values(ascending=False)

0    0.895995
8    0.848355
2    0.525176
7    0.431455
1    0.422362
5    0.288771
6    0.280811
9    0.255357
4    0.079975
3    0.002981
dtype: float64

In [7]:
s.sort_index(ascending=False)

9    0.255357
8    0.848355
7    0.431455
6    0.280811
5    0.288771
4    0.079975
3    0.002981
2    0.525176
1    0.422362
0    0.895995
dtype: float64

In [8]:
s.max()

0.89599530961136131

In [9]:
s.min()

0.0029814018055570601

In [10]:
s.mean()

0.4031240375818784

In [13]:
s1 = Series([1,2,3], index=['A','B','C'])
s2 = Series([4,5,6], index=['A','D','E'])

In [14]:
s1 + s2

A    5.0
B    NaN
C    NaN
D    NaN
E    NaN
dtype: float64

# DataFrame

In [15]:
df = DataFrame(np.random.rand(20).reshape(4,5))

In [16]:
df

          0         1         2         3         4
0  0.277048  0.545184  0.968063  0.536400  0.109467
1  0.140182  0.685473  0.390270  0.541698  0.064604
2  0.949339  0.666332  0.944015  0.744838  0.614101
3  0.653518  0.756664  0.411167  0.375631  0.788258

In [18]:
df.sort_values(by=4)

          0         1         2         3         4
1  0.140182  0.685473  0.390270  0.541698  0.064604
0  0.277048  0.545184  0.968063  0.536400  0.109467
2  0.949339  0.666332  0.944015  0.744838  0.614101
3  0.653518  0.756664  0.411167  0.375631  0.788258

In [19]:
df.sort_values(axis=1, by=1)

          4         0         2         3         1
0  0.109467  0.277048  0.968063  0.536400  0.545184
1  0.064604  0.140182  0.390270  0.541698  0.685473
2  0.614101  0.949339  0.944015  0.744838  0.666332
3  0.788258  0.653518  0.411167  0.375631  0.756664

In [20]:
df.sort_index()

          0         1         2         3         4
0  0.277048  0.545184  0.968063  0.536400  0.109467
1  0.140182  0.685473  0.390270  0.541698  0.064604
2  0.949339  0.666332  0.944015  0.744838  0.614101
3  0.653518  0.756664  0.411167  0.375631  0.788258

In [21]:
df1 = DataFrame(np.random.rand(20).reshape(4,5), index=[3,2,1,4])

In [22]:
df1

          0         1         2         3         4
3  0.398153  0.519600  0.726107  0.696156  0.467307
2  0.001545  0.227136  0.759037  0.460519  0.077412
1  0.333948  0.060901  0.110663  0.110335  0.587698
4  0.129140  0.877505  0.163526  0.678825  0.044681

In [23]:
df.sort_index()

          0         1         2         3         4
0  0.277048  0.545184  0.968063  0.536400  0.109467
1  0.140182  0.685473  0.390270  0.541698  0.064604
2  0.949339  0.666332  0.944015  0.744838  0.614101
3  0.653518  0.756664  0.411167  0.375631  0.788258

In [26]:
df.max(axis=1)

0    0.968063
1    0.685473
2    0.949339
3    0.788258
dtype: float64

In [25]:
df

          0         1         2         3         4
0  0.277048  0.545184  0.968063  0.536400  0.109467
1  0.140182  0.685473  0.390270  0.541698  0.064604
2  0.949339  0.666332  0.944015  0.744838  0.614101
3  0.653518  0.756664  0.411167  0.375631  0.788258

In [27]:
df.min()

0    0.140182
1    0.545184
2    0.390270
3    0.375631
4    0.064604
dtype: float64

In [30]:
df.mean()

0    0.505022
1    0.663413
2    0.678379
3    0.549642
4    0.394107
dtype: float64

In [31]:
df.describe()

              0         1         2         3         4
count  4.000000  4.000000  4.000000  4.000000  4.000000
mean   0.505022  0.663413  0.678379  0.549642  0.394107
std    0.367219  0.087881  0.320878  0.151239  0.362098
min    0.140182  0.545184  0.390270  0.375631  0.064604
25%    0.242832  0.636045  0.405943  0.496208  0.098251
50%    0.465283  0.675902  0.677591  0.539049  0.361784
75%    0.727473  0.703271  0.950027  0.592483  0.657640
max    0.949339  0.756664  0.968063  0.744838  0.788258