In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
score_list = np.random.randint(30, 100, 20)

In [3]:
score_list

array([44, 97, 72, 50, 38, 94, 41, 35, 37, 91, 31, 44, 89, 44, 58, 40, 92,
       67, 96, 73])

In [4]:
bins = [30,59,79,100]

In [7]:
a = pd.cut(score_list, bins)

In [6]:
score_list

array([44, 97, 72, 50, 38, 94, 41, 35, 37, 91, 31, 44, 89, 44, 58, 40, 92,
       67, 96, 73])

In [8]:
type(a)

pandas.core.categorical.Categorical

In [9]:
a.value_counts()

(30, 59]     11
(59, 79]      3
(79, 100]     6
dtype: int64

In [10]:
df = DataFrame()

In [11]:
df['student'] = [pd.util.testing.rands(5) for i in range(20)]

In [13]:
df['score'] = score_list

In [14]:
df

   student  score
0    fxWCM     44
1    WdNLv     97
2    tuSCy     72
3    H0XfN     50
4    MUB34     38
5    fVm4T     94
6    D3OUH     41
7    fswiR     35
8    Vfyc1     37
9    kscpa     91
10   D9w6z     31
11   WPWgr     44
12   7r29y     89
13   96pmx     44
14   gvh6b     58
15   QE1xj     40
16   Nu8gF     92
17   oy4TL     67
18   DEd2a     96
19   vK7oA     73

In [17]:
df['bins'] = pd.cut(df['score'], bins=bins, labels=['bad','ok','great'])

In [18]:
df

   student  score   bins
0    fxWCM     44    bad
1    WdNLv     97  great
2    tuSCy     72     ok
3    H0XfN     50    bad
4    MUB34     38    bad
5    fVm4T     94  great
6    D3OUH     41    bad
7    fswiR     35    bad
8    Vfyc1     37    bad
9    kscpa     91  great
10   D9w6z     31    bad
11   WPWgr     44    bad
12   7r29y     89  great
13   96pmx     44    bad
14   gvh6b     58    bad
15   QE1xj     40    bad
16   Nu8gF     92  great
17   oy4TL     67     ok
18   DEd2a     96  great
19   vK7oA     73     ok