In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
import datetime

In [5]:
t = datetime.datetime(2016,9,20)
t

datetime.datetime(2016, 9, 20, 0, 0)

In [6]:
t_list = [
    datetime.datetime(2016,9,20),
    datetime.datetime(2016,10,20),
    datetime.datetime(2016,10,22),
    datetime.datetime(2017,9,20),
    datetime.datetime(2017,10,20)
]

In [7]:
s1 = Series(np.random.rand(5), index=t_list)

In [8]:
s1

2016-09-20    0.594208
2016-10-20    0.301122
2016-10-22    0.808485
2017-09-20    0.349153
2017-10-20    0.877538
dtype: float64

In [9]:
s1['2016-09-20']

0.59420787784338314

In [10]:
s1['2016']

2016-09-20    0.594208
2016-10-20    0.301122
2016-10-22    0.808485
dtype: float64

In [11]:
s1['2016-10']

2016-10-20    0.301122
2016-10-22    0.808485
dtype: float64

In [12]:
s1[0]

0.59420787784338314

In [13]:
s1[datetime.datetime(2016,9,20)]

0.59420787784338314

In [21]:
t = pd.date_range(start='2017-01-01', periods=10, freq='W')

In [22]:
t

DatetimeIndex(['2017-01-01', '2017-01-08', '2017-01-15', '2017-01-22',
               '2017-01-29', '2017-02-05', '2017-02-12', '2017-02-19',
               '2017-02-26', '2017-03-05'],
              dtype='datetime64[ns]', freq='W-SUN')

In [23]:
s2 = Series(np.random.rand(100), index=pd.date_range(start='20170101', periods=100))

In [24]:
s2

2017-01-01    0.053170
2017-01-02    0.369401
2017-01-03    0.224097
2017-01-04    0.246479
2017-01-05    0.942847
2017-01-06    0.877836
2017-01-07    0.265749
2017-01-08    0.001202
2017-01-09    0.930106
2017-01-10    0.287919
2017-01-11    0.172346
2017-01-12    0.756184
2017-01-13    0.942468
2017-01-14    0.403611
2017-01-15    0.866084
2017-01-16    0.183591
2017-01-17    0.095589
2017-01-18    0.494924
2017-01-19    0.356734
2017-01-20    0.046751
2017-01-21    0.115510
2017-01-22    0.977433
2017-01-23    0.251873
2017-01-24    0.416364
2017-01-25    0.057017
2017-01-26    0.424787
2017-01-27    0.763381
2017-01-28    0.054481
2017-01-29    0.824917
2017-01-30    0.801307
                ...
2017-03-12    0.915499
2017-03-13    0.827031
2017-03-14    0.675535
2017-03-15    0.428204
2017-03-16    0.173198
2017-03-17    0.553767
2017-03-18    0.070816
2017-03-19    0.592403
2017-03-20    0.708032
2017-03-21    0.842779
2017-03-22    0.036673
2017-03-23    0.310134
2017-03-24    0.642205
2017-03-25    0.639109
2017-03-26    0.464394
2017-03-27    0.021426
2017-03-28    0.710322
2017-03-29    0.797886
2017-03-30    0.001494
2017-03-31    0.472233
2017-04-01    0.815997
2017-04-02    0.777805
2017-04-03    0.218515
2017-04-04    0.794694
2017-04-05    0.635887
2017-04-06    0.979751
2017-04-07    0.193824
2017-04-08    0.122330
2017-04-09    0.773813
2017-04-10    0.053993
Freq: D, Length: 100, dtype: float64