In [4]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [5]:
link = 'https://www.tiobe.com/tiobe-index/'
import webbrowser
webbrowser.open(link)

True

In [6]:
df = pd.read_clipboard()

In [7]:
df

   Oct 2017  Oct 2016  Change Programming Language  Ratings Change.1
0         1         1     NaN                 Java  12.431%   -6.37%
1         2         2     NaN                    C   8.374%   -1.46%
2         3         3     NaN                  C++   5.007%   -0.79%
3         4         4     NaN                   C#   3.858%   -0.51%
4         5         5     NaN               Python   3.803%   +0.03%
5         6         6     NaN           JavaScript   3.010%   +0.26%
6         7         7     NaN                  PHP   2.790%   +0.05%
7         8         8     NaN    Visual Basic .NET   2.735%   +0.08%
8         9        11  change    Assembly language   2.374%   +0.14%
9        10        13  change                 Ruby   2.324%   +0.32%

In [8]:
df.Ratings

0    12.431%
1     8.374%
2     5.007%
3     3.858%
4     3.803%
5     3.010%
6     2.790%
7     2.735%
8     2.374%
9     2.324%
Name: Ratings, dtype: object

In [9]:
type(df.Ratings)

pandas.core.series.Series

In [11]:
df['Programming Language']

0                 Java
1                    C
2                  C++
3                   C#
4               Python
5           JavaScript
6                  PHP
7    Visual Basic .NET
8    Assembly language
9                 Ruby
Name: Programming Language, dtype: object

In [12]:
df.columns

Index(['Oct 2017', 'Oct 2016', 'Change', 'Programming Language', 'Ratings',
       'Change.1'],
      dtype='object')

In [13]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [14]:
df_new = DataFrame(df, columns=['Programming Language','Oct 2017'])

In [15]:
df_new

  Programming Language  Oct 2017
0                 Java         1
1                    C         2
2                  C++         3
3                   C#         4
4               Python         5
5           JavaScript         6
6                  PHP         7
7    Visual Basic .NET         8
8    Assembly language         9
9                 Ruby        10

In [16]:
df_new = DataFrame(df, columns=['Programming Language','Oct 2017','Oct 2018'])

In [17]:
df_new

  Programming Language  Oct 2017  Oct 2018
0                 Java         1       NaN
1                    C         2       NaN
2                  C++         3       NaN
3                   C#         4       NaN
4               Python         5       NaN
5           JavaScript         6       NaN
6                  PHP         7       NaN
7    Visual Basic .NET         8       NaN
8    Assembly language         9       NaN
9                 Ruby        10       NaN

In [18]:
df_new['Oct 2018']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
Name: Oct 2018, dtype: float64

In [21]:
df_new['Oct 2018'] = range(0,10)

In [22]:
df_new

  Programming Language  Oct 2017  Oct 2018
0                 Java         1         0
1                    C         2         1
2                  C++         3         2
3                   C#         4         3
4               Python         5         4
5           JavaScript         6         5
6                  PHP         7         6
7    Visual Basic .NET         8         7
8    Assembly language         9         8
9                 Ruby        10         9

In [23]:
df_new = DataFrame(df, columns=['Programming Language','Oct 2017','Oct 2018'])

In [25]:
df_new['Oct 2018'] = Series([100,200], index=[2,3])

In [26]:
df_new

  Programming Language  Oct 2017  Oct 2018
0                 Java         1       NaN
1                    C         2       NaN
2                  C++         3     100.0
3                   C#         4     200.0
4               Python         5       NaN
5           JavaScript         6       NaN
6                  PHP         7       NaN
7    Visual Basic .NET         8       NaN
8    Assembly language         9       NaN
9                 Ruby        10       NaN

In [27]:
df

   Oct 2017  Oct 2016  Change Programming Language  Ratings Change.1
0         1         1     NaN                 Java  12.431%   -6.37%
1         2         2     NaN                    C   8.374%   -1.46%
2         3         3     NaN                  C++   5.007%   -0.79%
3         4         4     NaN                   C#   3.858%   -0.51%
4         5         5     NaN               Python   3.803%   +0.03%
5         6         6     NaN           JavaScript   3.010%   +0.26%
6         7         7     NaN                  PHP   2.790%   +0.05%
7         8         8     NaN    Visual Basic .NET   2.735%   +0.08%
8         9        11  change    Assembly language   2.374%   +0.14%
9        10        13  change                 Ruby   2.324%   +0.32%

In [31]:
df[0:4]

   Oct 2017  Oct 2016 Change Programming Language  Ratings Change.1
0         1         1    NaN                 Java  12.431%   -6.37%
1         2         2    NaN                    C   8.374%   -1.46%
2         3         3    NaN                  C++   5.007%   -0.79%
3         4         4    NaN                   C#   3.858%   -0.51%

In [33]:
type(df.loc[0])

pandas.core.series.Series

In [35]:
df.loc[0:3,['Oct 2016', 'Programming Language']]

   Oct 2016 Programming Language
0         1                 Java
1         2                    C
2         3                  C++
3         4                   C#

In [36]:
df.loc[[2,5],['Oct 2016', 'Programming Language']]

   Oct 2016 Programming Language
2         3                  C++
5         6           JavaScript

In [37]:
df.iloc[0:3, 0:3]

   Oct 2017  Oct 2016 Change
0         1         1    NaN
1         2         2    NaN
2         3         3    NaN

In [38]:
df.head()

   Oct 2017  Oct 2016 Change Programming Language  Ratings Change.1
0         1         1    NaN                 Java  12.431%   -6.37%
1         2         2    NaN                    C   8.374%   -1.46%
2         3         3    NaN                  C++   5.007%   -0.79%
3         4         4    NaN                   C#   3.858%   -0.51%
4         5         5    NaN               Python   3.803%   +0.03%

In [39]:
df.tail()

   Oct 2017  Oct 2016  Change Programming Language Ratings Change.1
5         6         6     NaN           JavaScript  3.010%   +0.26%
6         7         7     NaN                  PHP  2.790%   +0.05%
7         8         8     NaN    Visual Basic .NET  2.735%   +0.08%
8         9        11  change    Assembly language  2.374%   +0.14%
9        10        13  change                 Ruby  2.324%   +0.32%