In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Reindex Series

In [2]:
s1 = Series([1,2,3,4])

In [3]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
s2 = Series([1,2,3,4], index=['A','B','C','D'])

In [6]:
s2

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
s2.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [8]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [9]:
s1.reindex(['A','B','C','D'])

A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [11]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [14]:
s1.reindex(index=['A','B','C','D'])

A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [15]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [20]:
s2 = s1.reindex(index=[1,2,4], fill_value=10)

In [21]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [22]:
s2

1     2
2     3
4    10
dtype: int64

# Reindex Dataframe

In [29]:
a = np.random.rand(15).reshape(3,5)

In [30]:
a

array([[  4.53727526e-01,   6.85704034e-01,   9.17758236e-04,
          1.27213129e-01,   1.47595206e-01],
       [  7.33234546e-01,   2.94529180e-01,   3.98086698e-01,
          6.88733348e-01,   1.38431802e-01],
       [  5.30584630e-02,   3.12597658e-02,   5.59008894e-01,
          4.95089653e-02,   9.77534317e-01]])

In [33]:
df = DataFrame(a,index=[1,2,3], columns=['A','B','C','D','E'])

In [34]:
df

          A         B         C         D         E
1  0.453728  0.685704  0.000918  0.127213  0.147595
2  0.733235  0.294529  0.398087  0.688733  0.138432
3  0.053058  0.031260  0.559009  0.049509  0.977534

In [36]:
df[['A','B']]

          A         B
1  0.453728  0.685704
2  0.733235  0.294529
3  0.053058  0.031260

In [38]:
df.reindex(index=[1,2], columns=['C','D'])

          C         D
1  0.000918  0.127213
2  0.398087  0.688733

In [40]:
df.loc[[1,2], ['C','D','F']]

          C         D   F
1  0.000918  0.127213 NaN
2  0.398087  0.688733 NaN

In [44]:
df.reindex(index=[1,2,4], columns=['C','D','F'], fill_value=100)

            C           D      F
1    0.000918    0.127213  100.0
2    0.398087    0.688733  100.0
4  100.000000  100.000000  100.0